$accent: rgba(90, 16, 148, 1)
$darkAccent: #431C5D
$blue: #45A6FF
$aqua: #3bb4c9
$lightRed: #f8d7da
$lightYellow: #fff3cd
$grey: rgba(107, 107, 107, 1)



@keyframes pulse
    0% 
        color: $blue

    50% 
        color: #fff

    100% 
        color: $blue

@keyframes fadein 
    from 
        opacity: 0
    to   
        opacity: 1
  