.PurchaseAppWrapper
    display: flex
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFEFE 100%)
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07)
    border-radius: 5px
    .PurchasePhaseWrapper
        padding: 20px 40px
        max-width: 58%
        ul.phase-menu
            display: flex
            font-size: 14px
            li
               cursor: pointer
               transition: .2s ease
               &:hover
                   color: $accent
            li, img
               margin-right: 13px
            li.active
                color: $accent
                font-weight: 600
        .FormWrapper
            h2
                color: $accent
                font-size: 23px
                margin: 19px 0
            .form-group
                display: flex
                flex-direction: column
                margin-bottom: 25px 
                label
                    color: $accent
                    margin: 0 0 7px 0 
                .form-row
                    display: flex
                    align-items: center
                    .field-details
                        font-size: 11px
                        width: 120px
                        margin: 0 0 7px 10px
                    input:last-child
                        margin: 0 0 7px 10px
                        width: 40%
                        flex: initial
                input, select
                    flex: 1
                    width: 100%
                    border: 1px solid #DEDCDC
                    border-radius: 5px
                    margin-bottom: 7px
                    padding: 10px 15px
                    color: $grey
                input:last-child
                    margin-bottom: 0  
                .input-wrapper
                    margin-bottom: 7px   
                    flex: 1 
                    position: relative
                    input
                        margin: 0
                    .target-icon
                        position: absolute
                        background: url('../../resources/svg/target.svg') no-repeat
                        width: 20px
                        height: 20px
                        right: 10px
                        top: 0
                        bottom: 0
                        margin: auto 0
                        cursor: pointer
    .OrderSummaryWrapper
        flex: 1
        background-color: #F3F3F3
        padding: 20px 12px 15px 9px
        font-size: 12px
        .header        
            display: flex
            justify-content: space-between
            align-items: center
            h3
                color: $accent 
                font-size: 15px
            span
                text-decoration: underline
                font-size: 11px
        ul
            margin-top: 8px
            li
                padding: 10px 4px
                border-bottom: 1px solid rgba(151, 151, 151, .2)
                display: flex
                align-items: center
                img
                    width:  45px
                    padding: 2px 1px 6px 2px 
                    border: 1px solid rgba(151, 151, 151, .2)
                    border-radius: 3px
                    margin-right: 10px
                    cursor: pointer
                .product-info
                    display: flex
                    flex: 1
                    flex-direction: column
                    .row
                        display: flex
                        justify-content: space-between
                        align-items: center
                        margin-bottom: 7px
                        span:first-child
                            cursor: pointer
                    > span
                        color: black
                        font-size: 9px
                        margin-bottom: 4px
                        font-weight: 600
                        &:last-child
                            margin-bottom: 0
        .subtotal
            padding: 13px 0
            border-bottom: 1px solid rgba(151, 151, 151, .2)
            .row 
                margin-bottom: 9px
            .row:last-child
                margin-bottom: 0
        .total
            margin-top: 14px
            color: $darkAccent
            font-weight: bold
            font-size: 13px
